<!doctype html>
<html>
  <head>
    <title>Unicornpol</title>
    <meta charset="UTF-8" />
    <link type="text/css"; rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <div>
      <h1>Unicornpol</h1>
    </div>
    <table>
      <th colspan="3">LISTA PRODUKTÓW</th>
      <% @product.each do |product| %>
      <tr>
        <td><%= link_to(product.name, product_path(product)) %></td>
        <td><%= product.merchantprofile.name %></td>
        <td><%= product.suggested_price %>pln</td>
      </tr>
      <% end %>
    </table>
    <br><br>
      <%= link_to("Dodaj produkt", new_product_path) %>
    <div>
      <h4>Copyright © 2018 team bee. Wszelkie prawa zastrzeżone.</h4>
    </div>
  </body>
</html>