
<table width="1000px">
    <th colspan="3">LISTA PRODUKTÓW</th>
    <tr>
      <td>
<% @product.each do |product| %>
        <table id="produkt"; cellpadding="15">
            <tr><td id="nazwa"><%= link_to(product.name, product_path(product)) %></td></tr>
            <tr><td id="nazwa"><%= product.description %></td></tr>
            <tr><td><%= product.suggested_price %></td></tr>
          <% end %>
        </table>
      </td>
    </tr>
</table>
<%= link_to("Dodaj produkt", new_product_path) %>
